<article id="page">
  <h1><%=page.title%></h1>
  <p>
    <span class="visitors">visitors 4</span>&nbsp;&nbsp;•&nbsp;&nbsp;
    <span class="tag">html</span>&nbsp;&nbsp;•&nbsp;&nbsp;
    <span class="date">123</span>
  </p>
  <%-page.content%>
</article>

<%-partial('partials/pagination')%>
