<footer id="footer">
    <p>© 2017  cc | <iframe src="https://ghbtns.com/github-btn.html?user=<%=theme.github.user%>&repo=<%=theme.github.repo%>&type=star&count=true" >
        </iframe><br/>
        concise theme, this world is mine.  | cc'blog | Fork me on Github
        <% if(theme.umen.open){%>
            | <%- partial('thirdparty/statistical/umen')%>
        <%}%>
    </p>
</footer>