<header id="header">
    <nav id="nav" class="clearfix">
        <ul class="clearfix nav-left">
            <%for(name in theme.menu){%>
                <li><a href="<%- url_for(theme.menu[name])%>"><%=name%></a></li>
            <%}%>
        </ul>
        <ul class='nav-right'>
            <li><a href="<%- url_for(theme.menu['home'])%>"></a></li>
        </ul>
    </nav>
</header>