article#logo{
  width:100%;
  #logo-content{
    width:$mainWidth;
    margin:0 auto;
    padding:45px 0;
    text-align: center;
    header{
      a{
        font-size:55px;
        font-weight:bold;
        line-height:75px;
        &:before{
          content:'';
          display:inline-block;
          width:50px;
          height:50px;
          @include border-radiusTRBL(0,25px,0,25px);
          background-color:$secondaryColor;
          margin-right:10px;
          vertical-align:middle;
          margin-bottom:17px;
          font-size:25px;
          margin-left:5px;
        }
        b{
          vertical-align:super;
          font-size:20px;
          margin-left:5px;
        }
      }
    }
    p{
      font-weight:normal;
    }
  }
}