<article class="archive-article archive-type-<%= post.layout %>">
    <div class="archive-article-inner">
        <header class="archive-article-header">
            <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMM D'}) %>
            <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        </header>
    </div>
</article>
<section id="category" class="clearfix">
    <article class="category-page">
        <h3>123</h3>
    </article>
    <article class="category-page category-right">
        <h3>123</h3>
    </article>
    <article class="category-page">
        <h3>123</h3>
    </article>
    <article class="category-page category-right">
        <h3>123</h3>
    </article>
    <article class="category-page">
        <h3>123</h3>
    </article>
    <article class="category-page category-right">
        <h3>123</h3>
    </article>
    <article class="category-page">
        <h3>123</h3>
    </article>
    <article class="category-page category-right">
        <h3>123</h3>
    </article>
    <article class="category-page">
        <h3>123</h3>
    </article>
</section>